html, body {
  width: 100%;
  height: 100%; }
  html #react-container, body #react-container {
    height: 100%; }
    html #react-container .layout, body #react-container .layout {
      height: 100%; }

.base {
  display: flex;
  height: calc(100% - 56px); }
  .base .sidebar {
    flex-shrink: 0;
    height: 100%;
    width: 200px;
    left: 0;
    bottom: 0;
    background: antiquewhite; }
  .base .base-container {
    flex-shrink: 0;
    height: 100%;
    width: calc(100% - $side-width);
    bottom: 0; }

.calculator {
  margin: 30px auto;
  width: 500px;
  height: 600px; }
  .calculator .top {
    height: 10%; }
  .calculator .console {
    height: 20%; }
    .calculator .console .last-input {
      height: 50%;
      text-align: right;
      font-size: 20px;
      padding-right: 6px;
      line-height: 60px; }
    .calculator .console .input {
      height: 50%;
      text-align: right;
      font-size: 20px;
      padding-right: 6px;
      line-height: 60px; }
  .calculator .row {
    margin-bottom: 0;
    height: 14%; }
  .calculator .list .col {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .calculator .list .num {
    background: #fafafa; }
  .calculator .list .other {
    background: #f0f0f0; }
