.divider-horizontal {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background-color: #e9e9e9; }

.divider-vertical {
  width: 1px;
  height: 100%;
  display: inline-block;
  margin: 0 5px;
  background-color: #e9e9e9; }

html, body {
  width: 100%;
  height: 100%; }
  html #react-container, body #react-container {
    height: 100%; }
    html #react-container .layout, body #react-container .layout {
      height: 100%; }

.base {
  display: flex;
  height: calc(100% - 56px); }
  .base .sidebar {
    flex-shrink: 0;
    height: 100%;
    width: 200px;
    left: 0;
    bottom: 0;
    background: antiquewhite; }
  .base .base-container {
    flex-shrink: 0;
    height: 100%;
    width: calc(100% - 200px);
    bottom: 0; }

.crypto {
  margin: 20px auto; }
  .crypto .types a {
    margin: 0 5px; }
  .crypto .configure {
    border-top: 1px solid #efefef;
    margin: 20px auto;
    padding-top: 20px;
    text-align: center; }
    .crypto .configure .cry-cfg {
      flex-wrap: wrap; }
      .crypto .configure .cry-cfg .column {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        flex-basis: unset;
        flex-grow: unset; }
        .crypto .configure .cry-cfg .column span {
          margin: 0px 6px; }
  .crypto .content .center {
    text-align: center;
    margin-top: 60px; }
