.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

html, body {
  background: #363636; }

.rgb .transfer {
  width: 400px; }
  .rgb .transfer .rgb-t {
    margin-bottom: 10px; }
  .rgb .transfer .button {
    margin-bottom: 10px; }
