.toolitem {
  width: 180px;
  height: 120px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; }
  .toolitem a {
    display: block;
    overflow: hidden; }

.home {
  background-color: #fff;
  margin: 20px auto;
  overflow: hidden; }
  .home .bgCanvas {
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 1;
    top: 0; }
  .home .tools {
    position: relative;
    z-index: 2;
    padding: 0 65px; }
    .home .tools .tool-list {
      display: flex;
      flex-wrap: wrap; }
