@import "./component/divider.scss";
@import "./include/vars.scss";
@import "./base/common.scss";

.crypto{
    margin: 20px auto;

    .types{

        a{
            margin: 0 5px;
        }
    }
    .configure{
        border-top: 1px solid $line-gray-color;
        margin: 20px auto;
        padding-top: 20px;
        text-align: center;
        .cry-cfg{
            flex-wrap: wrap;
            .column{
                display: flex;
                align-items: center;
                flex-shrink:0;
                flex-basis: unset;
                flex-grow: unset;
                span{
                    margin: 0px 6px;
                }
            }
        }
    }
    .content{
        .center{
            text-align: center;
            margin-top: 60px;
        }
    }
}