@import "./base/common.scss";

.prettier{

    .formats{
        .tag{
            margin:4px 10px
        }
    }
    .content{
        .center{
            text-align: center;
            margin-top: 60px;
        }
    }
}